{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'check.css'%}">
</head>
<body>
    <h1 style="margin-left: 400px;">Video Request Form</h1>
   <a href="{% url 'forms'%}" style="margin-left: 400px;"> Request video></a>
    {% for x in videos %}
    <div class="pra">
        <h1>{{x.title}}</h1>
        <p>{{x.video_desc}}</p>

    </div>
    {% endfor %}
    
</body>
</html>